
<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--->
                                              <!--User Sign Up-->
<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--->


<p>Sign Up!</p>
<form ng-submit="createUser()">
  <input ng-model="newUser.firstName" placeholder="First Name"></input>
  <input ng-model="newUser.lastName" placeholder="Last Name"></input>
  <input ng-model="newUser.userName" placeholder="Username"></input>
  <input type="email" ng-model="newUser.eMail" placeholder="E-mail Address"></input>
  <input type="password" ng-model="newUser.password" placeholder="Password"></input>


  <p>Profile Pic :</p>
  <input type="file" ng-model="newUser.userPic" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-select ngf-resize="{quality:0.8}"></input>


  <input type="submit"></input>
</form>





<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--->
                                              <!--User Log In-->
<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--->


<p>Log In</p>
<form ng-submit="userLogIn()">
  <input ng-model="logIn.userName" placeholder="Username"></input>
  <input type="password" ng-model="logIn.userPassword" placeholder="Password"></input>


  <input type="submit"></input>
</form>
