<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--->
                                              <!--User Home with User Upload-->
<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--->


<!--<form ng-app="fileUpload" ng-controller="MyCtrl" name="form">-->


<!--  <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"-->
<!--    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"-->
<!--    ngf-resize="{width: 100, height: 100}">Select</div>-->

<!--  Multiple files-->
<!--  <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>-->
<!--  Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>-->
<!--  <button type="submit" ng-click="submit()">submit</button>-->
<!--</form>-->


<h3>hello {{user.firstName}}</h3>

<div id='timeline-embed' style="width: 100%; height: 600px"></div>


<script>
    $(document).ready(function(){
        var embed = document.getElementById('timeline-embed');
        embed.style.height = getComputedStyle(document.body).height;
        window.timeline = new TL.Timeline('timeline-embed', '../sample_json.json', { hash_bookmark: false});
        window.addEventListener('resize', function() {
          var embed = document.getElementById('timeline-embed');
          embed.style.height = getComputedStyle(document.body).height;
          timeline.updateDisplay();
        })
      });
  </script>





