<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--->
                                              <!--User Home with User Upload-->
<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--->


<!--<form ng-app="fileUpload" ng-controller="MyCtrl" name="form">-->

<link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

<!--  <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"-->
<!--    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"-->
<!--    ngf-resize="{width: 100, height: 100}">Select</div>-->

<!--  Multiple files-->
<!--  <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>-->
<!--  Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>-->
<!--  <button type="submit" ng-click="submit()">submit</button>-->
<!--</form>-->

<div class="container" id="userPage"></div>
    <div id='timeline-embed' style="width: 100%; height: 600px"></div>

<!--Footer Starts-->
<footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col s12">

                    <!--EDIT PHOTO-->


                    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>

                    <!--ADD MORE-->

<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>


                </div>
            </div>
        </div>
</footer>

<!--End Footer-->




