<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--->
                                              <!--User Home with User Upload-->
<!--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--->


<!--<form ng-app="fileUpload" ng-controller="MyCtrl" name="form">-->


<!--  <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"-->
<!--    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"-->
<!--    ngf-resize="{width: 100, height: 100}">Select</div>-->

<!--  Multiple files-->
<!--  <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>-->
<!--  Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>-->
<!--  <button type="submit" ng-click="submit()">submit</button>-->
<!--</form>-->

<div>
    <h3>Hello</h3>
</div>









